extends layout
block content
  script.
   let optionsInfo = !{users2};
  script(type='text/javascript',src="https://unpkg.com/axios/dist/axios.min.js")
  script(type='text/javascript', src='/javascripts/public_edit_options.js')
  html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
     form(formaction='/', formmethod='post', enctype='multipart/form-data' id="insert")
       h1 #{title}
       input(type='file', name='filetoupload')
       br
       input(type='text', name='name_of_place' value = users[0].name)
       br
       input(type='number', name='votes'  value = users[0].votes)
       br
       input(type='submit' value = "Atualizar" formmethod='post') 
       br
       br
       br
     div
      each user in users
       .image-block
        h3 #{user.name} com #{user.votes} votos
        img.className#IdName(src="/"+user.img alt="Image Title")
  a(href="/insert/")
   button(type="button") Voltar