body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
div_votes
{
  display: inline-block;
}
warning
{
  color: red;
}
img
{
  max-width: 150px;
  max-height: 150px;
}
a {
  color: #00B7FF;
}
